apiVersion: apps/v1
kind: Deployment
metadata:
  name: logoutput
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logoutput
  template:
    metadata:
      labels:
        app: logoutput
    spec:
      containers:
        - name: devopskub-1.1
          image: logoutput:latest
          imagePullPolicy: Never

      containers:
        - name: devopskub-1.1
          image: logoutput:latest
          imagePullPolicy: Never
